li {
    list-style-type: none;
}
ul {
    padding: 0px;
    width: 156.8px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0px;
}
li:hover {
    background-color: yellow;
}